@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'nunito';
  src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

.navLink:hover + .navAnimation {
  @apply opacity-100;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #7262af #f5f1f6;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #f5f1f6;
}

*::-webkit-scrollbar-thumb {
  background-color: #7262af;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

/* light Scrollbar */
/* Firefox */
.light-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: #9685db #f2efff;
}

/* Chrome, Edge, and Safari */
.light-scrollbar::-webkit-scrollbar {
  width: 12px;
  border-radius: 10px;
}

.light-scrollbar::-webkit-scrollbar-track {
  background: #f2efff;
  border-radius: 10px;
}

.light-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9685db;
  border-radius: 10px;
  border: 3px solid #f3f4f6;
}

/*  */

.mySwiper .swiper-slide {
  opacity: 0.6;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}
